{% extends 'base.html' %}

{% block titulo %}
  Criar pesquisa
{% endblock %}

{% block conteudo %}
<div class="d-flex justify-content-center">
    <h1 class="d-flex justify-content-center">Criar uma nova pesquisa</h1>
</div>
    <form class="d-flex justify-content-center {% if form.errors %}error{% endif %}" method="post" novalidate>
            <div>
                {% csrf_token %}
            {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% endfor %}
            </div>
            <br>
             <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Criar</button>
            <a href="{% url 'survey-list' %}">
                <div class="btn btn-danger">Cancelar</div>
            </a>
             </div>
    </form>
</div>
{% endblock %}