{% extends "base.html" %}

{% block titulo %}
  Detalhes
{% endblock %}

{% block conteudo %}
<div class="d-flex justify-content-center">
    <h1 class="ui header">Pesquisa: {{ survey.title }}</h1>
</div>
<div class="d-flex justify-content-center">
    Você tem {{ num_submissions }} respostas
</div>
<div class="d-flex justify-content-center">
    <h3 class="ui header dividing">Resultados</h3>
</div>
<div class="d-flex justify-content-center">
    {% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <h5 class="ui header">
            Questão {{ forloop.counter }} / {{ questions|length }}
        </h5>
        <p>
            {{ question.prompt }}
        </p>
        <ul>
            {% for option in question.option_set.all %}
            <li>
                {{ forloop.counter }}) {{option.text}}: {{ option.percent|floatformat }}%
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}