{% extends "base.html" %}

{% block conteudo %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">Bem vindo(a) {{ request.user.username }}</h1>
    <a href="{% url 'survey-create' %}">
        <div class="ui primary button">Verifique novas pesquisas</div>
    </a>
</div>
<div class="ui center aligned basic very padded segment">
    {% if survey %}
    <h2 class="ui header">Pesquisas</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in survey %}
            <tr>
                <td>{{ survey.title }}</td>
                <td>{{ survey.created_at }}</td>
                <td>
                    {% if survey.is_active %}
                    <a href="{% url 'survey-detail' survey.pk %}">
                        <div class="ui button">ver</div>
                    </a>
                    {% else %}
                    <a href="{% url 'survey-edit' survey.pk %}">
                        <div class="ui button">editar</div>
                    </a>
                    {% endif %}
                    <form method="post" action="{% url 'survey-delete' survey.pk %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button class=" ui button">deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="ui header">Pesquisas
        <div class="sub header">Não existe novas pesquisas abertas</div>
    </h2>
    {% endif %}

</div>
{% endblock %}