{% extends "base.html" %}

{% block titulo %}
  {{ survey.title }}
{% endblock %}

{% block conteudo %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header dividing">Adicionar opções à questão</h1>
    <div class="ui container left aligned">
        <h4 class="ui header">
            Questão: {{ question.prompt }}
        </h4>
        <ul>
            {% for option in options %}
            <li>
                {{ forloop.counter }}) {{option.text}}
            </li>
            {% endfor %}
        </ul>
        <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}">
                <label>Opção</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-end">
            <button type="submit" class="btn btn-primary">Adicionar nova opção</button>
            </div>
            <div class="ui message error">
                <div class="header">Tivemos alguns problemas</div>
                <ul class="list">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ field.label_tag }} {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        {% if options|length > 0 %}
        <div class="d-flex justify-content-center align-items-end">
        <div class="ui divider"></div>
        <a href="{% url 'survey-edit' survey.pk %}">
            <div class="btn btn-success">Terminar de adicionar opções</div>
        </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}