{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Cadastrar
{% endblock %}

{% block conteudo %}
{% if user.is_anonymous %}
<div class="d-flex justify-content-center">
    <p>Você não tem acesso</p>
    </div>
<div class=" d-flex justify-content-center">

    <a href="{% url 'login' %}" class="btn btn-primary col-2">Entrar</a>
</div>
{% else %}
{% if user.is_staff %}
<div class="d-flex justify-content-center">
<h1>Cadastro</h1>
</div>
<div class="d-flex justify-content-center">
<p class="lead">
    Preencha todos os campos obrigatórios
</p>
</div>
<div style="display: grid; border-radius: 5px !important; grid-template-columns: 600px; justify-items: center; justify-content: center; align-items: center;">
<form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
<br>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
</div>
{% else %}
<p> Você não tem acesso</p>
{% endif %}
{% endif %}
{% endblock %}