#home {
	background: #393939;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #353535;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p a {
	margin: 5px 15px;
}

p{
    text-align: center;
}

h1{
    text-align: center !important;
}

.table-responsive{
    width: 100% !important;
}

.table {
    border: 1px solid red;
    width: auto !important; /*Importante manter o !important rs */
    margin: auto;
    text-align: center!important;
    justify-items: center !important;
}

.table-status {
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.btn {
    display: inline-flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.body{
    background: #393939;
}

page-container {
  position: relative;
  min-height: 100vh;
}

content-wrap {
  padding-bottom: 2.5rem;    /* altura do rodapé */
}

.container{
    justify-content: center !important;
    align-items: center !important;
}

td{
    justify-content: center!important;
}

.bg-warning{
    background-color: #643173 !important;
}

.btn-outline-light{
    background-color: #2caa58 !important;
}

.justify-content-center{
    justify-content: center !important;
    align-items: center !important;
}

.button{
    text-align: center!important;
    justify-items: center !important;
}
