{% extends 'base.html' %}
{% load static %}
{% block titulo %}
  Erro 404
{% endblock %}

{% block conteudo %}
<div id="hero-area" class="hero-area-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">404<br>Página não encontrada</h2>
          <p>Infelizmente esta página não foi encontrada.</p>
          <div class="header-button">
            <a href="{% url 'index' %}}" class="btn btn-common">Volte para a página principal</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}