{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">500<br>Erro de Servidor Interno</h2>
                <p>Infelizmente houve um erro.</p>
                <div class="header-button">
                  <a href="{% url 'index' %}}" class="btn btn-common">Volte para a página principal</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</header>
    <!-- Header Area wrapper End -->
{% endblock %}