{% load static %}
 <footer id="footer">
      <div style="position: relative; flex-basis: 100px; width: 100%; min-width: 320px;max-width: 2160px; margin: 0 auto; " class="container">
        <div class="row align-items-end">
          <div class="col-md-8">
            <p style="text-align: left">
              <a href="/">Home</a>
              <a href="/feedback">Feedback</a>
              <a href="/pesquisa">Pesquisa</a>
              <a href="/usuarios/lista">Usuário</a>
            </p>
          </div>
          <div style="text-align: right" class="col-md-4 d-flex justify-content-end">
            <a href="" class="btn btn-outline-light">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="btn btn-outline-light ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-light ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="btn btn-outline-light ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
        <p style="text-align: center" class="mt-5 mb-3 text-muted">&copy; {% now 'Y'%}</p>
      </div>
    </footer>