{% load static %}
 <footer style="position: relative; bottom: 0; width: 100%;" class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p style="text-align: left">
              <a href="/">Home</a>
              <a href="/feedback">Feedback</a>
              <a href="/pesquisa">Pesquisa</a>
              <a href="/usuarios/lista">Usuario</a>
            </p>
          </div>
          <div style="text-align: right" class="col-md-4 d-flex justify-content-end">
            <a href="" class="btn btn-outline-dark">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="btn btn-outline-dark ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
        <p style="text-align: center" class="mt-5 mb-3 text-muted">&copy; {% now 'Y'%}</p>
      </div>
    </footer>