{% extends 'base.html' %}
{% load static %}
{% block titulo %}
  Home
{% endblock %}

{% block conteudo %}
{% if user.is_anonymous %}
<div style="margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)"class="d-flex justify-content-center">
    <h5>Você não tem acesso!</h5>
</div>
<div style="margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)" class="d-flex justify-content-center">
    <p>Faça login para continuar</p>
    </div>
<div class="d-flex justify-content-center">
    <a style=" position: absolute; top: 50%" href="{% url 'login' %}" class="btn btn-primary col-2">Entrar</a>
</div>
{% else %}
<div class="mt-4 mb-4 d-flex justify-content-center">
  <h1>Home</h1>
</div>

<div class="container justify-content-center">
    <div style="display: grid; border-radius: 5px !important; grid-template-columns: 600px; justify-items: center; justify-content: center; align-items: center;">
        <a href="{% url 'lista-espaco' %}" class="btn btn-primary col-8">Espaços</a>
        <a href="{% url 'lista-disciplina' %}" class="btn btn-primary col-8">Disciplinas</a>
        <a href="{% url 'lista-curso' %}" class="btn btn-primary col-8">Curso</a>
        <a href="{% url 'pesquisa' %}" class="btn btn-primary col-8">Pesquisas</a>
        {% if user.is_staff %}
        <a href="{% url 'usuario' %}" class="btn btn-primary col-8">Usuário</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}