{% extends 'base.html' %}

{% load static %}

{% block conteudo %}
{% if user.is_anonymous %}
<div style="margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)"class="d-flex justify-content-center">
    <h5>Você não tem acesso!</h5>
</div>
<div style="margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)" class="d-flex justify-content-center">
    <p>Faça login para continuar</p>
    </div>
<div class="d-flex justify-content-center">
    <a style=" position: absolute; top: 50%" href="{% url 'login' %}" class="btn btn-primary col-2">Entrar</a>
</div>
{% else %}

<h1 class="mt-4 mb-4 d-flex justify-content-center">Lista de Feedback</h1>
<div class="container">
  <div class="table-responsive">
      <table class="table table-striped table-hover table-status">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Espaço</th>
            <th scope="col">Feedback</th>
          </tr>
        </thead>
        <tbody>
        {% for lista in object_list %}
          <tr>
            <td>{{lista.id}}</td>
            <td>{{lista.espaco}}</td>
            <td>{{lista.feedback_esp}}</td>
          </tr>
        {% empty %}
        <tr>
          <td colspan="3">Nenhum feedback de espaço registrado</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a href="{% url 'cadastrar-feedback-espaco' %}" class="btn btn-primary">Adicionar Feedback</a>
</div>
{% endif %}
{% endblock %}