{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  Usuários
{% endblock %}

{% block conteudo %}
{% if user.is_staff %}
<h1 class="mt-4 mb-4 d-flex justify-content-center">Lista de usuários</h1>
<div class="container">
  <div class="table-responsive">
      <table class="table table-status">
        <thead>
          <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for perfil in object_list %}
          <tr>
            <td>{{perfil.matricula}}</td>
            <td>{{perfil.email}}</td>
            <td>x</td>
              <td>
                <a class="btn btn-primary col-3">Editar</a>
                <a class="btn btn-primary col-3">Ver</a>
              </td>
          </tr>
        {% empty %}
        <tr>
          <td colspan="3">Nenhum perfil registrado</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% else %}
<p>Você não tem acesso a essa página</p>
{% endif %}

{% endblock %}